body {
  font-family: 'Comic Sans MS', sans-serif;
  margin: 0;
  padding: 0;
  background: url('img/bg.png') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Gray container box */
.container {
  background-color: rgba(220, 220, 220, 0.95);
  border-radius: 16px;
  padding: 2rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  max-width: 650px;
  width: 90%;
  text-align: center;
}

/* Inputs and buttons */
input, button {
  margin: 0.5rem;
  padding: 0.5rem;
  font-family: inherit;
  border-radius: 10px;
}

button:hover {
  background-color: #808080;
}

button:active {
  background-color: #4BF291;
}
